main.m_Random {
	>div+div {
		margin-top: 14px;
	}
	input.inline {
		width: 5ch;
	}

	.bigButton {
		font-size: 200%;
	}

	.results .item {
		display: inline-block;
		margin-right: 20px;
		&:first-child {
			display: block;
			font-size: 60px;
		}
	}
}
