main.m_SerialTerminal {
	@tray-height: 200px;
	terminal {
		position: absolute;
		top: 0; right: 0; left: 0; bottom: @tray-height;
	}

	&>div.tray {
		position: absolute;
		right: 0; left: 0; bottom: 0; height: @tray-height;
		overflow: auto;
		display: flex;

		section {
			padding: 8px;
			border: 1px solid black;
			border-top: none; border-bottom: none;

			textarea {
				display: block;
				width: 100%;
				min-width: 203px;
				height: calc(@tray-height - 62px);
			}
		}
	}


}