html {
	color: white;
	background: darkblue;
	height: 100%;
	font-family: 'Verdana', sans-serif;

	&::before {
		// https://stackoverflow.com/a/33091315/710714
		content: "";
		// filled dynamically: background-image: url("/bg/XXYYZZ.jpg");
		background-size: cover;
		background-position: center;
		filter: blur(5px);
		position: fixed;
		top: -20px; left: -20px; bottom: -20px; right: -20px;
		display: block;
	}
}

body {
	min-width: 250px;
}

* { box-sizing: border-box; }

a {
	color: #babcff;
	&:visited {
		color: #baf5dc;
	}
	&:hover {
		color: white;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	a {
		text-decoration: inherit;
		color: inherit;
		&:visited { color: inherit; }
	}
}


@header-height: 47px;
header {
	color: white;
	position: fixed;
	top: 5px; left: 0; right: 0;
	height: @header-height - 11px;
	border: 1px solid black;
	border-right: none; border-left: none;
	background-color: #44444455;
	padding: 5px;

	h1 {
		margin: 0; padding: 0;
		font-size: 20px;

		.logo {
			display: inline-block;
			width: 215px;
			height: 38px;

			img {
				position: absolute;
				width: 223px;
				height: 60px;
				top: -12px;
				left: -4px;
			}
		}

		.subTitle {
			vertical-align: top;
		}
	}

	#searchBox {
		display: none;//not implemented

		position: absolute;
		right: 3px; top: 3px;
	}
}

main {
	position: fixed;
	top: @header-height; right: 0; left: 0; bottom: 0;
	overflow: auto;
	background: #000000a8;
	padding: 8px;
	color: white;
	border-radius: 22px;
	box-shadow: white 0 0 12px;
	margin: 13px;

	&.unsupported {
		box-shadow: red 0 0 12px;
	}
}

@media (max-width: 720px) {
	@header-height: 47px;

	header {
		height: @header-height - 11px;
		h1 {

			.subTitle.home {
				font-size: 12px;
				line-height: 2em;
			}
		}
	}
	main {
		top: @header-height;
	}
}

@media (max-width: 510px) {
	@header-height: 69px + 9px;

	header {
		height: @header-height - 11px;
		h1 {
			font-size: 12px;

			.subTitle.home {
				line-height: initial;
			}

			.subTitle {
				display: block;
			}
		}
	}
	main {
		top: @header-height;
	}
}

@media (max-width: 300px) {
	header h1 .subTitle.home {
		font-size: 8.5px;
	}
}

p {
	margin: .5em 0;
}

code {
	font-size: inherit;
}

blockquote {
	background: #4c4b4b;
	color: white;
	font-style: italic;
	padding: .7em;
}

terminal {
	display: block;
	white-space: pre-line;
	background: black;
	color: #CCC;
	font-size: 16px;
	font-family: "Monospace", "Consolas", "Menlo-Regular", monospace;
	overflow: auto;
	line-height: 1.1em;

	span {

		&.input {
			display: block;
			color: #BB0;
			caret-color: #BB0;
			padding: 4px;
			margin: 4px;
		}

		&.inbound { color: #099; }
		&.inboundBinary { background: #099; color: black; } //padding: 0 3px; } //background: #70B
		&.outbound { color: #BB0; display: block; }

		&.system { display: block; color: white; font-weight: bold; }
		//&.deviceLog {}
		&.error { display: block; color: red; font-weight: bold; }

	}

	textarea {
		display: block;
		color: #BB0;
		caret-color: #BB0;
		background: transparent;
		padding: 4px;
		margin: 4px;
		width: calc(100% - 8px);
		height: 2em;
	}
}

.deviceGrid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(425px, 1fr));
	grid-auto-rows: 256px;
	column-gap: 8px;
	row-gap: 8px;

	> .device {
		border: 1px solid #cccccc;
		background: #FFFFFF22;
		border-radius: 10px;
		padding: 5px;
		margin: 5px;

		h3 {
			color: white;
			small {
				opacity: .7;
				font-weight: normal;
				font-size: 70%;
			}
		}
	}
}

tabset {
	display: block;
	margin: 0;
	padding: 0;

	// > .tabTitles {}

	h2 {
		display: inline-block;
		font-size: 120%;
		padding: 5px;
		margin: 5px 5px 0;
		border: 1px solid gray;
		border-radius: 5px 5px 0 0;
		border-bottom: none;
		cursor: pointer;

		&.selected {
			color: white;
			background: gray;
		}
	}

	> section {
		width: 100%;
		border: 1px solid gray;
		padding: 5px;
		margin: 0;
	}
}


.subsection {
	border: 1px solid gray;

}



@import "index.less";
@import "modules/SerialTerminal.less";
@import "modules/UserMedia.less";
@import "modules/Midi.less";
@import "modules/Credits.less";
@import "modules/Random.less";
