html {
	color: white;
	background: darkblue;
	height: 100%;

	&::before {
		// https://stackoverflow.com/a/33091315/710714
		content: "";
		// filled dynamically: background-image: url("/bg/XXYYZZ.jpg");
		background-size: cover;
		background-position: center;
		filter: blur(5px);
		position: fixed;
		top: -20px; left: -20px; bottom: -20px; right: -20px;
		display: block;
	}
}


* { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }


header {
	color: white;
	position: fixed;
	top: 5px; left: 0; right: 0;
	height: 36px;
	border: 1px solid black;
	border-right: none; border-left: none;
	background-color: #44444455;
	padding: 5px;

	h1 {
		margin: 0; padding: 0;
		font-size: 20px;

		.logo {
			display: inline-block;
			width: 215px;

			img {
				position: absolute;
				width: 223px;
				height: 60px;
				top: -12px;
				left: -4px;
			}
		}
	}

	#searchBox {
		display: none;//not implemented

		position: absolute;
		right: 3px; top: 3px;
	}
}

main {
	position: fixed;
	top: 47px; right: 0; left: 0; bottom: 0;
	overflow: auto;
	background: #00000055;
	padding: 8px;
	color: white;
	border-radius: 22px;
	box-shadow: white 0 0 12px;
	margin: 13px;

	&.indexPage {
		background: transparent;
		margin: 0;
		box-shadow: none;
	}

	&.unsupported {
		box-shadow: red 0 0 12px;
	}
}

.moduleTile {
	display: inline-block;
	border-radius: 22px;
	width: 150px; height: 90px;
	box-shadow: black 0 0 12px;
	color: white;
	background-color: #00000087;
	// background-color: #000000BE;
	border-top: 2px solid #656565;
	padding: 0px;
	margin: 7px;
	overflow: hidden;
	font-size: 15px;
	cursor: default;

	&:hover {
		box-shadow: white 0 0 12px;
	}

	&.unsupported {
		opacity: .5;
	}

	&>* {
		display: block;
		padding: 6px 10px;
	}

	h2 {
		margin: 0;
		padding: 7px 15px;
		font-size: 17px;
		background: #474747;
	}

	&.m_BrowserInfo span {
		font-family: monospace;
		font-size: 10px;
	}

	textarea {
		width: 100%;
		height: 53px;
	}


}

h1 a, h2 a {
	text-decoration: inherit;
	color: inherit;
}

terminal {
	display: block;
	white-space: pre-line;
	background: black;
	color: #CCC;
	font-size: 16px;
	font-family: "Monospace", "Consolas", "Menlo-Regular", monospace;
	overflow: auto;
	line-height: 1.1em;

	span {

		&.input {
			display: block;
			color: #BB0;
			caret-color: #BB0;
			padding: 4px;
			margin: 4px;
		}

		&.inbound { color: #099; }
		&.inboundBinary { background: #099; color: black; } //padding: 0 3px; } //background: #70B
		&.outbound { color: #BB0; display: block; }

		&.system { display: block; color: white; font-weight: bold; }
		//&.deviceLog {}
		&.error { display: block; color: red; font-weight: bold; }

	}

	textarea {
		display: block;
		color: #BB0;
		caret-color: #BB0;
		background: transparent;
		padding: 4px;
		margin: 4px;
		width: calc(100% - 8px);
		height: 2em;
	}
}


@import "modules/SerialTerminal.less";
